{% extends 'default_frame.twig' %}

	{% block main %}

    <div class="wrapper">
        <div class="breadcrumbs">
          <div class="breadcrumbs__page-title">
            <div class="breadcrumbs__page-title-image"><img src="/html/template/default/assets/img/icons/page-title-logo.png" alt=""></div>
            <div class="breadcrumbs__page-title-text">
              <div class="breadcrumbs__page-title-text-en">Commitment to Product Creation</div>
              <div class="breadcrumbs__page-title-text-jp">商品づくりへのこだわり</div>
            </div>
          </div>
          <div class="breadcrumbs__main"><a class="breadcrumbs__main-pagename breadcrumbs__main-pagename--inactive" href="https://captainfoods.co.jp/stg/shop/">TOP</a>
            <div class="breadcrumbs__main-carret"><img src="/html/template/default/assets/img/icons/icon-arrow-right-red.svg" alt=""></div><span class="breadcrumbs__main-pagename">商品づくりへのこだわり</span>
          </div>
        </div>
      </div>
      <div class="commitment"> 
        <section class="commitment__intro-wrap"> 
          <h2 class="commitment__heading">皆さまにお届けする食品を製造する上でのこだわりをご紹介いたします。</h2>
          <ul class="commitment__list"> 
            <li class="commitment__item"> 
              <h3 class="commitment__item-heading">真空技術へのこだわり</h3>
              <div class="commitment__row">
                <div class="commitment__image"> <img src="/html/template/default/assets/img/commitment/commitment-image1.jpg" alt="食品を長持ちさせるために"></div>
                <div class="commitment__image-info">
                  <h4 class="commitment__image-title">食品を長持ちさせるために</h4>
                  <p class="commitment__paragraph">計量後、切り身をひと切れずつ並べて強力真空パックし、急速凍結します。冷凍庫からその日必要な分だけをサッと取り出して使えるのは、真空冷凍のメリットです。</p>
                </div>
              </div>
              <div class="commitment__row"> 
                <div class="commitment__image"> <img src="/html/template/default/assets/img/commitment/commitment-image2.jpg" alt="無駄なく、便利に使える"></div>
                <div class="commitment__image-info">
                  <h4 class="commitment__image-title">無駄なく、便利に使える</h4>
                  <p class="commitment__paragraph">
                    魚類は一切れずつ真空パックしている為、使う分だけ切り取って解凍すれば、別の日に持ち越すことができます。<br> 焼き魚や煮付けは、凍ったまま調理できるので解凍までの時間を無駄にしません。</p>
                </div>
              </div>
              <div class="commitment__center">
                <h3 class="commitment__center-heading">一切れずつ使えて便利！</h3>
                <div class="commitment__center-image"> <img src="/html/template/default/assets/img/commitment/commitment-image3.jpg" alt="無駄なく、便利に使える"></div>
              </div>
            </li>
            <li class="commitment__item"> 
              <h3 class="commitment__item-heading">鮮度へのこだわり</h3>
              <div class="commitment__row">
                <div class="commitment__image"><img src="/html/template/default/assets/img/commitment/commitment-image4.jpg" alt="迅速な処理"></div>
                <div class="commitment__image-info">
                  <h4 class="commitment__image-title">迅速な処理</h4>
                  <p class="commitment__paragraph">
                    船上凍結された魚を溶かした瞬間、品質の劣化が始まります。<br> それを少しでも避けるべく、手早く丁寧にさばいていきます。</p>
                </div>
              </div>
              <div class="commitment__row"> 
                <div class="commitment__image"> <img src="/html/template/default/assets/img/commitment/commitment-image5.jpg" alt="加工・凍結のルールづくり"></div>
                <div class="commitment__image-info">
                  <h4 class="commitment__image-title">加工・凍結のルールづくり</h4>
                  <p class="commitment__paragraph">
                    鮮魚に関しては、豊洲をはじめ、石巻・瀬戸内・三崎港など全国から旬な魚介類を取り寄せ半日以内に加工・凍結のルールを設けています。<br> 旬な状態を保てるのは、急速凍結の良さです。</p>
                </div>
              </div>
            </li>
          </ul>
        </section>
      </div>

          <section class="links">
      <div class="links__row"><a class="links__card" href="/benefits"> <img src="/html/template/default/assets/img/choose/menu-2.jpg" alt="７つのメリット">
          <div class="links__overlay"> 
            <div class="links__card-title"><img src="/html/template/default/assets/img/links/img-title-benefits.svg" alt=""></div>
            <div class="links__card-button"></div>
          </div></a><a class="links__card" href="/choose"> <img src="/html/template/default/assets/img/benefits/card-2.jpg" alt="選ばれる理由">
          <div class="links__overlay"> 
            <div class="links__card-title"><img src="/html/template/default/assets/img/links/img-title-choose.svg" alt=""></div>
            <div class="links__card-button"></div>
          </div></a><a class="links__card" href="/change"> <img src="/html/template/default/assets/img/benefits/card-3.jpg" alt="７つのメリット">
          <div class="links__overlay"> 
            <div class="links__card-title"><img src="/html/template/default/assets/img/links/img-title-change.svg" alt=""></div>
            <div class="links__card-button"></div>
          </div></a>
      </div><a class="links__button" href="https://captainfoods.co.jp/shop/secure/form.aspx">
        <div class="links__button-icon"><img src="/html/template/default/assets/img/icons/icon-handpointing-right.svg" alt="HAND"></div>
        <p class="links__button-text">資料請求する</p></a>
    </section>
   


    {% endblock %}