{% extends 'default_frame.twig' %}



{% block main %}

<div class="wrapper">
        <div class="breadcrumbs">
          <div class="breadcrumbs__page-title">
            <div class="breadcrumbs__page-title-image"><img src="/html/user_data/assets/img/cf2022/img/icons/page-title-logo.png" alt=""></div>
            <div class="breadcrumbs__page-title-text">
              <div class="breadcrumbs__page-title-text-en">Mypage</div>
              <div class="breadcrumbs__page-title-text-jp">マイページ</div>
            </div>
          </div>
          <div class="breadcrumbs__main"><a class="breadcrumbs__main-pagename breadcrumbs__main-pagename--inactive" href="https://captainfoods.co.jp/stg/shop/">TOP</a>
            <div class="breadcrumbs__main-carret"><img src="img\icons\icon-arrow-right-red.svg" alt=""></div><a class="breadcrumbs__main-pagename breadcrumbs__main-pagename--inactive" href="#">マイページ</a>
            <div class="breadcrumbs__main-carret"><img src="img\icons\icon-arrow-right-red.svg" alt=""></div><span class="breadcrumbs__main-pagename">お問い合わせ履歴詳細</span>
          </div>
        </div>
      </div>
      <div class="otoiawaserireki">
        <div class="wrapper">
          <div class="otoiawaserireki-title">お問い合わせ履歴詳細</div>
          <div class="otoiawaserireki-subtitle">2022/00/00　00：00 ご意見・ご感想　（お問い合わせ番号000000000）</div>
          <div class="otoiawaserireki-table">
            <div class="otoiawaserireki-table__row heading">
              <div class="otoiawaserireki-table__txt">山田 太郎　様</div>
            </div>
            <div class="otoiawaserireki-table__row">
              <div class="otoiawaserireki-table__txt">テスト送信です</div>
            </div>
            <div class="otoiawaserireki-table__row">
              <div class="otoiawaserireki-table__txt">テストテストテストテスト</div>
            </div>
          </div>
          <div class="otoiawaserireki-title s2">再度のお問い合わせが完了しました。</div>
          <div class="otoiawaserireki-txt">いただきましたお問い合わせは通常、当日中に回答いたします。またお問い合わせ内容によってはお時間をいただく場合がございます。<br>返信が無い場合、なんらかのエラーが発生している場合がございますので、お手数ですがお電話にてご確認をお願いいたします。<br><br>
            お電話でもお受けしております。<br>
            TEL：045-833-7221　営業時間：平日9:00～17:00　土日休
          </div>
          <div class="otoiawaserireki-btn__container"><a class="otoiawaserireki-btn s2" href="">
              <p>戻る       </p></a></div>
        </div>
      </div>



{% endblock %}