{% extends 'default_frame.twig' %}



{% block main %}
<div class="wrapper">
        <div class="breadcrumbs">
          <div class="breadcrumbs__page-title">
            <div class="breadcrumbs__page-title-image"><img src="/html/user_data/assets/img/cf2022/img/icons/page-title-logo.png" alt=""></div>
            <div class="breadcrumbs__page-title-text">
              <div class="breadcrumbs__page-title-text-en">Special</div>
              <div class="breadcrumbs__page-title-text-jp">特別カテゴリー一覧</div>
            </div>
          </div>
          <div class="breadcrumbs__main"><a class="breadcrumbs__main-pagename breadcrumbs__main-pagename--inactive" href="https://captainfoods.co.jp/stg/shop/">TOP</a>
            <div class="breadcrumbs__main-carret"><img src="/html/user_data/assets/img/cf2022/img/icons/icon-arrow-right-red.svg" alt=""></div><span class="breadcrumbs__main-pagename">特別カテゴリー一覧</span>
          </div>
        </div>
      
      <section class="category">
        <div class="category__list">
          {% for category in categories %}
          <div class="category__item">
            <div class="category__image">
              <div class="category__image-ratio"></div><img src="html/upload/save_image/{{ category.image_path }}" alt="">
            </div><span class="category__text">{{ category.name }}</span>
          </div>
          {% endfor %}

        </div>
      </section>
    
    </div>
{% endblock %}