{% extends 'default_frame.twig' %}



{% block main %}
    <div class="wrapper">
        <div class="breadcrumbs">
          <div class="breadcrumbs__page-title">
            <div class="breadcrumbs__page-title-image"><img src="/html/user_data/assets/img/cf2022/img/icons/page-title-logo.png" alt=""></div>
            <div class="breadcrumbs__page-title-text">
              <div class="breadcrumbs__page-title-text-en">Mypage</div>
              <div class="breadcrumbs__page-title-text-jp">マイページ</div>
            </div>
          </div>
          <div class="breadcrumbs__main"><a class="breadcrumbs__main-pagename breadcrumbs__main-pagename--inactive" href="https://captainfoods.co.jp/stg/shop/">TOP</a>
            <div class="breadcrumbs__main-carret"><img src="img\icons\icon-arrow-right-red.svg" alt=""></div><a class="breadcrumbs__main-pagename breadcrumbs__main-pagename--inactive" href="#">マイページ</a>
            <div class="breadcrumbs__main-carret"><img src="img\icons\icon-arrow-right-red.svg" alt=""></div><span class="breadcrumbs__main-pagename">お問い合わせ履歴詳細</span>
          </div>
        </div>
      </div>
      <div class="otoiawaserireki">
        <div class="wrapper">
          <div class="otoiawaserireki-title">お問い合わせ履歴詳細</div>
          <div class="otoiawaserireki-subtitle">2022/00/00　00：00 ご意見・ご感想　（お問い合わせ番号000000000）</div>
          <div class="otoiawaserireki-table">
            <div class="otoiawaserireki-table__row heading">
              <div class="otoiawaserireki-table__txt">山田 太郎　様</div>
            </div>
            <div class="otoiawaserireki-table__row">
              <div class="otoiawaserireki-table__txt">テスト送信です</div>
            </div>
            <div class="otoiawaserireki-table__row">
              <div class="otoiawaserireki-table__txt">テストテストテストテスト</div>
            </div>
          </div>
          <div class="otoiawaserireki-txt">入力内容をご確認ください。この内容で送信する場合は「送信する」ボタンを押してください。</div>
          <div class="otoiawaserireki-table">
            <div class="otoiawaserireki-table__row">
              <div class="otoiawaserireki-table__txt">テスト送信です</div>
            </div>
            <div class="otoiawaserireki-table__row">
              <div class="otoiawaserireki-table__txt">テストテストテストテスト</div>
            </div>
          </div>
          <div class="otoiawaserireki-btn__container"><a class="otoiawaserireki-btn s2" href="">
              <p>戻る          </p></a><a class="otoiawaserireki-btn" href="">
              <p>送信する</p></a></div>
        </div>
      </div>


{% endblock %}