{%- extends 'form_div_layout.html.twig' -%}

{%- block choice_widget_expanded -%}
    {# <div {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            <div class="checkbox">
            {{- form_widget(child, {'attr':{'checked': 'checked'}}) -}}
            {{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}
            </div>
        {% endfor -%}
    </div> #}
    <div> test </div>
{%- endblock choice_widget_expanded -%}