{% extends 'default_frame.twig' %}

{% block main %}
    <div class="wrapper">
        <div class="breadcrumbs">
          <div class="breadcrumbs__page-title">
            <div class="breadcrumbs__page-title-image"><img src="/html/template/default/assets/img/icons/page-title-logo.png" alt=""></div>
            <div class="breadcrumbs__page-title-text">
              <div class="breadcrumbs__page-title-text-en">Delivery</div>
              <div class="breadcrumbs__page-title-text-jp">お届けについて</div>
            </div>
          </div>
          <div class="breadcrumbs__main"><a class="breadcrumbs__main-pagename breadcrumbs__main-pagename--inactive" href="https://captainfoods.co.jp/stg/shop/">TOP</a>
            <div class="breadcrumbs__main-carret"><img src="/stg/cf2022/img\icons\icon-arrow-right-red.svg" alt=""></div><span class="breadcrumbs__main-pagename">お届けについて</span>
          </div>
        </div>
      </div>
      <div class="delivery">
        <div class="delivery__nav"><a class="delivery__nav-item" href="#company">自社便</a><a class="delivery__nav-item" href="#other-company">他社便</a><a class="delivery__nav-item" href="#return-policy">返品・キャンセルについて</a></div>
        <div class="delivery__content">
          <div class="delivery__anchor" id="company"></div>
          <div class="delivery__section">
            <h2 class="delivery__heading">自社便</h2>
            <h3 class="delivery__subheading">自社便とは</h3>
            <div class="delivery__text">
              <p>自社便とは弊社が行っている宅配サービスになります</p>
              <p class="primary">弊社が担っているため、他社便に比べ送料がお安く済みます<br>
                2週間に一度決まった曜日にお届けに伺います
                
              </p>
            </div>
            <h3 class="delivery__subheading">配達範囲</h3>
            <div class="delivery__text">
              <p>1地区：横浜市　川崎市<br>2地区：町田市　大和市　相模原市（一部を除く）座間市　海老名市<br>　　　　綾瀬市　藤沢市　横須賀市　鎌倉市　茅ヶ崎市　葉山町　逗子市<br>3地区：稲城市　狛江市　調布市　三鷹市　目黒区　世田谷区　杉並区</p>
            </div>
            <h3 class="delivery__subheading">送料</h3>
            <div class="delivery__text">
              <p>一律：215円<br>
                その他の費用は一切いただきません
                
              </p>
            </div>
            <h3 class="delivery__subheading">配達サイクル</h3>
            <div class="delivery__text">
              <p>２週間に一度のお届けになります<br>配達日はお住まいの地域により異なります<br>下記リンクよりお住まいの指定お届け曜日が確認いただけます<br>※お届け時間指定はできません</p>
              <div class="delivery__button"><a class="button__secondary button__secondary--complete" href="https://captainfoods.co.jp/shop/pages/areasearch.aspx">
                  <div class="button__secondary-link w300">お届け日検索</div></a></div>
              <p>■留守時のお届け方法<br>配達時ご不在の場合は、保冷バックに商品とドライアイスを入れお玄関先や集合ポスト下、宅配BOXなどに置かせていただき<br>ポストにお知らせメモを入れさせて頂きます<br>置き場所にご指定がある場合は予めお申し出くださいますようお願い致します<br>尚、ご購入頂きました保冷箱をご利用の際は保冷箱に商品を入れさせていただきます</p>
            </div>
            <h3 class="delivery__subheading">ご注文日</h3>
            <div class="delivery__text">
              <p>インターネット会員：注文日の夜12時までにご注文ください。<br>
                通常会員：専任の注文担当者が配達日の4～6日前にお電話にて注文をお伺いします<br>
                締切日を過ぎての変更は致しかねます。
                
              </p>
            </div>
            <h3 class="delivery__subheading">お支払い方法</h3>
            <div class="delivery__text">
              <p>①代金引換　②郵便局引き落とし</p>
            </div>
            <h3 class="delivery__subheading">ご注文方法</h3>
            <div class="delivery__text">
              <p>お電話・インターネット・FAX・LINE<br><br>■商品の返品・交換・キャンセルについて<br>不良品等やお届け商品が申し込み商品と異なった場合は、お取替えさせていただきます<br>・お届けの際に商品をご確認ください。万が一不良品がありましたら、お届け後8日以内にお申し出ください<br>　納品より8日以上経過した場合は交換はお受けできませんのでご了承ください<br>・返品・交換は翌日（場合によっては次回配達予定日）にお伺いします。対象となる商品を返品してください<br>・返金は商品交換時に行ないます。自動引き落しのお客様で引き落とし前の場合は金額修正した上で引き落としを行います<br>　既に引き落としがされている場合は、次回配達で金額修正いたします<br>・商品のお届け、並びに回収日における盗難は、全て弊社が負担致します<br>・商品の取り込み忘れによる全解凍は、返品、キャンセルの対象外となります<br>・ご注文の当日キャンセルはお受けできません。キャンセルのご連絡はお届け日前日の16：00までにお申し出ください</p>
            </div>
            <div class="delivery__button"><a class="button__secondary" href="https://captainfoods.co.jp/shop/ssl2/jisha_use.aspx">
                <div class="button__secondary-link button__secondary-link--delivery"><span>自社便の宅配フォームへ</span></div></a></div>
          </div>
          <div class="delivery__anchor" id="other-company"></div>
          <div class="delivery__section mb-half">
            <h2 class="delivery__heading">他社便</h2>
            <h3 class="delivery__subheading">他社便とは</h3>
            <div class="delivery__text">
              <p>他社便とはヤマト運輸にて商品をお届けする宅配サービスです</p>
              <p class="primary">全国と広い範囲での配送が可能です<br>
                いつでもご注文いただけます
                
              </p>
            </div>
            <h3 class="delivery__subheading">配達範囲</h3>
            <div class="delivery__text">
              <p>全国配送可能（※ヤマト運輸配達エリアに限る）</p>
            </div>
            <h3 class="delivery__subheading">送料</h3>
            <div class="delivery__text">
              <div class="delivery__table-wrap">
                <table class="delivery__table">
                  <tr>
                    <th>配達エリア</th>
                    <th>購入金額</th>
                    <th>冷凍</th>
                    <th>常温</th>
                    <th>冷凍＋常温</th>
                  </tr>
                  <tr>
                    <td class="label" rowspan="2">北海道<br><span class="gray">北海道</span>
                    </td>
                    <td>0〜9,999円</td>
                    <td>1,595</td>
                    <td>1,265</td>
                    <td>2,860</td>
                  </tr>
                  <tr>
                    <td>10,000円以上</td>
                    <td>1,295</td>
                    <td>965</td>
                    <td>2,260</td>
                  </tr>
                  <tr>
                    <td class="label" rowspan="2">北東北<br><span class="gray">青森・秋田・岩手</span>
                    </td>
                    <td>0〜9,999円</td>
                    <td>1,265</td>
                    <td>935</td>
                    <td>2,200</td>
                  </tr>
                  <tr>
                    <td>10,000円以上</td>
                    <td>965</td>
                    <td>635</td>
                    <td>1,600</td>
                  </tr>
                  <tr>
                    <td class="label" rowspan="2">南東北<br><span class="gray">宮城・山形・福島</span>
                    </td>
                    <td>0〜9,999円</td>
                    <td>1,210</td>
                    <td>880</td>
                    <td>2,090</td>
                  </tr>
                  <tr>
                    <td>10,000円以上</td>
                    <td>910</td>
                    <td>580</td>
                    <td>1,490</td>
                  </tr>
                  <tr>
                    <td class="label" rowspan="2">関東<br><span class="gray">茨城・栃木・群馬・埼玉・千葉・山梨・神奈川・東京</span>
                    </td>
                    <td>0〜9,999円</td>
                    <td>1,210</td>
                    <td>880</td>
                    <td>2,090</td>
                  </tr>
                  <tr>
                    <td>10,000円以上</td>
                    <td>910</td>
                    <td>580</td>
                    <td>1,490</td>
                  </tr>
                  <tr>
                    <td class="label" rowspan="2">信越<br><span class="gray">新潟・長野</span>
                    </td>
                    <td>0〜9,999円</td>
                    <td>1,210</td>
                    <td>880</td>
                    <td>2,090</td>
                  </tr>
                  <tr>
                    <td>10,000円以上</td>
                    <td>910</td>
                    <td>580</td>
                    <td>1,490</td>
                  </tr>
                  <tr>
                    <td class="label" rowspan="2">北陸<br><span class="gray">富山・石川・福井</span>
                    </td>
                    <td>0〜9,999円</td>
                    <td>1,210</td>
                    <td>880</td>
                    <td>2,090</td>
                  </tr>
                  <tr>
                    <td>10,000円以上</td>
                    <td>910</td>
                    <td>580</td>
                    <td>1,490</td>
                  </tr>
                  <tr>
                    <td class="label" rowspan="2">中部<br><span class="gray">静岡・愛知・三重・岐阜</span>
                    </td>
                    <td>0〜9,999円</td>
                    <td>1,210</td>
                    <td>880</td>
                    <td>2,090</td>
                  </tr>
                  <tr>
                    <td>10,000円以上</td>
                    <td>910</td>
                    <td>580</td>
                    <td>1,490</td>
                  </tr>
                  <tr>
                    <td class="label" rowspan="2">関西<br><span class="gray">大阪・京都・滋賀・奈良・和歌山・兵庫</span>
                    </td>
                    <td>0〜9,999円</td>
                    <td>1,265</td>
                    <td>935</td>
                    <td>2,200</td>
                  </tr>
                  <tr>
                    <td>10,000円以上</td>
                    <td>965</td>
                    <td>635</td>
                    <td>1,600</td>
                  </tr>
                  <tr>
                    <td class="label" rowspan="2">中国<br><span class="gray">岡山・広島・山口・鳥取・島根</span>
                    </td>
                    <td>0〜9,999円</td>
                    <td>1,375</td>
                    <td>1,045</td>
                    <td>2,420</td>
                  </tr>
                  <tr>
                    <td>10,000円以上</td>
                    <td>1,075</td>
                    <td>745</td>
                    <td>1,820</td>
                  </tr>
                  <tr>
                    <td class="label" rowspan="2">四国<br><span class="gray">香川・徳島・愛媛・高知</span>
                    </td>
                    <td>0〜9,999円</td>
                    <td>1,375</td>
                    <td>1,045</td>
                    <td>2,420</td>
                  </tr>
                  <tr>
                    <td>10,000円以上</td>
                    <td>1,075</td>
                    <td>745</td>
                    <td>1,820</td>
                  </tr>
                  <tr>
                    <td class="label" rowspan="2">九州<br><span class="gray">福岡・佐賀・長崎・熊本・大分・宮崎・鹿児島</span>
                    </td>
                    <td>0〜9,999円</td>
                    <td>1,595</td>
                    <td>1,265</td>
                    <td>2,860</td>
                  </tr>
                  <tr>
                    <td>10,000円以上</td>
                    <td>1,295</td>
                    <td>965</td>
                    <td>2,260</td>
                  </tr>
                  <tr>
                    <td class="label" rowspan="2">沖縄<br><span class="gray">沖縄</span>
                    </td>
                    <td>0〜9,999円</td>
                    <td>2,816</td>
                    <td>2,486</td>
                    <td>5,302</td>
                  </tr>
                  <tr>
                    <td>10,000円以上</td>
                    <td>2,516</td>
                    <td>2,186</td>
                    <td>4,702</td>
                  </tr>
                </table>
              </div><span class="delivery__table-scroll sp">Scroll ></span>
              <p>「冷凍または常温でお届け」の商品について<br>
                「冷凍または常温でお届け」（以下両温）と表記されている商品については両温対応となります。<br>
                1.冷凍＋両温＝冷凍と同梱→冷凍送料のみ<br>
                2.常温＋両温＝常温と同梱→常温送料のみ<br>
                3.両温商品のみ＝商品のみ常温で発送→常温送料のみ<br>
                以上のような取り扱いとなります。
                
              </p>
            </div>
            <h3 class="delivery__subheading">ご注文日</h3>
            <div class="delivery__text">
              <p>お好きな時にご注文いただけます</p>
            </div>
            <h3 class="delivery__subheading">お支払い方法</h3>
            <div class="delivery__text">
              <p>①代金引換　②銀行振込（前払い）</p>
            </div>
            <h3 class="delivery__subheading">ご注文方法</h3>
            <div class="delivery__text">
              <p>お電話・インターネット</p>
            </div>
            <div class="delivery__button"><a class="button__secondary" href="https://captainfoods.co.jp/shop/customer/agree.aspx">
                <div class="button__secondary-link button__secondary-link--delivery"><span>他社便の宅配フォームへ</span></div></a></div>
          </div>
          <div class="delivery__anchor" id="return-policy"></div>
          <div class="delivery__section">
            <h2 class="delivery__heading">商品の返品・交換・キャンセルについて</h2>
            <h3 class="delivery__subheading">ご注文のキャンセルについて</h3>
            <div class="delivery__text">
              <p>○お届け日当日のキャンセルはお受けできません。<br>　キャンセルのご連絡は、<span class="primary">お届け日前日の２営業日前に事務所へご連絡をお願いします。</span><br><a class="primary" href="tel:045-833-7221">　045-833-7221</a></p>
              <div class="delivery__button mt-double"><a class="button__secondary button__secondary--complete" href="/stg/cf2022/ordering.html#change">
                  <div class="button__secondary-link w300">注文の変更詳細について</div></a></div>
            </div>
            <h3 class="delivery__subheading">商品の返品・変更について</h3>
            <div class="delivery__text">
              <p><span class="bold">宅急便（他社便）宅配の場合</span><br>
                不良品等やお届け商品が申し込み商品と異なった場合は、お取替えさせていただきます。<br>
                （その際の返品商品は着払いにて発送をお願いします）<br>
                お客様のご希望による返品等の送料および返金の手数料はお客様負担とさせていただいておりますのでご了承ください。<br>
                納品より8日以上経過した場合は交換はお受けできませんのでご了承ください。
                
              </p>
            </div>
          </div>

          <div class="delivery__section">
            <div class="delivery__flow">
              <div class="delivery__flow-item">
                <div class="delivery__flow-icon"><img src="/html/user_data/assets/img/cf2022/img/delivery/ic-basket.svg" alt=""></div>
                <div class="delivery__flow-links"><a class="delivery__flow-link" href="/ordering#registration">登録の流れ</a><a class="delivery__flow-link" href="/ordering#order">注文の流れ</a><a class="delivery__flow-link" href="/ordering#change">注文の変更</a><a class="delivery__flow-link" href="/ordering#mail">注文メールが届かないとき</a></div>
              </div>
              <div class="delivery__flow-item">
                <div class="delivery__flow-icon"><img src="/html/user_data/assets/img/cf2022/img/delivery/ic-box.svg" alt=""></div>
                <div class="delivery__flow-links"><a class="delivery__flow-link" href="/delivery#company">自社便</a><a class="delivery__flow-link" href="/delivery#other-company">他社便</a><a class="delivery__flow-link" href="/delivery#return-policy">商品の返品・キャンセルについて</a></div>
              </div>
              <div class="delivery__flow-item">
                <div class="delivery__flow-icon"><img src="/html/user_data/assets/img/cf2022/img/delivery/ic-coins.svg" alt=""></div>
                <div class="delivery__flow-links"><a class="delivery__flow-link" href="/payment#method">お支払いの方法</a><a class="delivery__flow-link" href="/payment#points">ポイントについて</a></div>
              </div>
            </div>
            <div class="delivery__link-top"><a href="/stg/cf2022/guide.html">ご利用ガイドTOPへ</a></div>
          </div>

        </div>
      </div>

{% endblock %}