{% extends 'default_frame.twig' %}

{% block main %}
    <div class="wrapper">
    </div>
    <div class="wrapper">
        <div class="breadcrumbs">
            <div class="breadcrumbs__page-title">
                <div class="breadcrumbs__page-title-image"><img src="/html/template/default/assets/img/icons/page-title-logo.png" alt=""></div>
                <div class="breadcrumbs__page-title-text">
                    <div class="breadcrumbs__page-title-text-jp">複数贈答先に送る</div>
                </div>
            </div>
            <div class="breadcrumbs__main">
                <a class="breadcrumbs__main-pagename breadcrumbs__main-pagename--inactive" href="https://captainfoods.co.jp/stg/shop/">{{ 'front.product.position_top'|trans }}</a>
                <div class="breadcrumbs__main-carret"><img src="/html/template/default/assets/img/icons/icon-arrow-right-red.svg" alt=""></div>
                <span class="breadcrumbs__main-pagename">{{ 'front.pamphlet.title'|trans }}</span>
            </div>
        </div>
    </div>
    <section class="pamphlet">
        <div class="pamphlet__container">
            <img class="w-100" src="/html/user_data/assets/img/cf2022/img/faq/hukusuu1.gif" akt=""/><br>
            <img class="w-100" src="/html/user_data/assets/img/cf2022/img/faq/hukusuu2.gif" akt=""/><br>
            <img class="w-100" src="/html/user_data/assets/img/cf2022/img/faq/hukusuu3.gif" akt=""/>
        </div>
    </section>
{% endblock %}


