<div class="wrapper">
    <img class="mt-5 w-100" src="/html/user_data/assets/img/cf2022/img/faq/noshi.gif"alt="のしの書き方の案内"/>
    <br><br><center><input type="button" value="閉じる" onClick="window.close()"></center>
</div>
