{% extends 'default_frame.twig' %}

	{% block main %}


    <div class="wrapper">
        <div class="breadcrumbs">
          <div class="breadcrumbs__page-title">
            <div class="breadcrumbs__page-title-image"><img src="/html/template/default/assets/img/icons/page-title-logo.png" alt=""></div>
            <div class="breadcrumbs__page-title-text">
              <div class="breadcrumbs__page-title-text-en">Change the way you eat fish</div>
              <div class="breadcrumbs__page-title-text-jp">魚の食べ方が変わる</div>
            </div>
          </div>
          <div class="breadcrumbs__main"><a class="breadcrumbs__main-pagename breadcrumbs__main-pagename--inactive" href="https://captainfoods.co.jp/stg/shop/">TOP</a>
            <div class="breadcrumbs__main-carret"><img src="/html/template/default/assets/img/icons/icon-arrow-right-red.svg" alt=""></div><span class="breadcrumbs__main-pagename">魚の食べ方が変わる</span>
          </div>
        </div>
        
        <section class="change"> 
          <div class="change__body"> 
            <div class="change__title"> <span>キャプテンフーヅを使った生活はいつもの食卓を <br>便利でちょっと贅沢に変えてくれます。</span></div>
            <div class="change__container"> 
              <div class="change__product"><img class="change__icon" src="/html/template/default/assets/img/change/change-icon.png" alt="">
                <div class="change__name"> <span>お刺身</span></div>
              </div>
              <div class="change__image"><img src="/html/template/default/assets/img/change/change-product1.jpg" alt="お刺身"></div>
              <div class="change__text"> 
                <p>スーパーの盛り付け済みの商品と同じくらい簡単で新鮮な物をいただけます。</p>
                <p>しかも、買ったその日に急いで食べる必要はありません。</p>
                <p>丸のまま買ってきてご自身でさばいている本格派の方、もうさばく手間は必要ありません。獲れたてをさばいてすぐに急速凍結した刺身は解凍した瞬間に獲れたての状態に戻ります。</p>
              </div>
            </div>
            <div class="change__container"> 
              <div class="change__product"><img class="change__icon" src="/html/template/default/assets/img/change/change-icon.png" alt="">
                <div class="change__name"> <span>切り身</span></div>
              </div>
              <div class="change__image"><img src="/html/template/default/assets/img/change/change-product2.jpg" alt="切り身"></div>
              <div class="change__text"> 
                <p>店頭に並んでいる切り身は外気にさらされ、さらにご家庭の冷蔵庫に眠らせている間にも鮮度は落ちていきます。</p>
                <p>キャプテンフーヅの切り身は、全国の市場などから買い付けて自社に輸送しすぐにさばいて凍結。</p>
                <p>熱伝導率が高く、食品の凍結にベストな冷凍技術で、鮮度を落とすことなくご自宅にお届け。</p>
                <p>またそのほとんどが真空またはバラ凍結で一切れずつ使えるのが魅力です。</p>
              </div>
            </div>
            <div class="change__container"> 
              <div class="change__product"><img class="change__icon" src="/html/template/default/assets/img/change/change-icon.png" alt="">
                <div class="change__name"> <span>漬け魚</span></div>
              </div>
              <div class="change__image"><img src="/html/template/default/assets/img/change/change-product3.jpg" alt="漬け魚"></div>
              <div class="change__text"> 
                <p>実に幅広いバリエーションを揃えた漬魚は定番の西京漬からちょっとめずらしい香味焼オイルしそ風味漬など、漬魚好きにはたまらない品揃えとなっております。</p>
              </div>
            </div>
          </div>
        </section>
      </div>

    <section class="links">
      <div class="links__row"><a class="links__card" href="/benefits"> <img src="/html/template/default/assets/img/choose/menu-2.jpg" alt="７つのメリット">
          <div class="links__overlay"> 
            <div class="links__card-title"><img src="/html/template/default/assets/img/links/img-title-benefits.svg" alt=""></div>
            <div class="links__card-button"></div>
          </div></a><a class="links__card" href="/choose"> <img src="/html/template/default/assets/img/benefits/card-2.jpg" alt="選ばれる理由">
          <div class="links__overlay"> 
            <div class="links__card-title"><img src="/html/template/default/assets/img/links/img-title-choose.svg" alt=""></div>
            <div class="links__card-button"></div>
          </div></a><a class="links__card" href="/change"> <img src="/html/template/default/assets/img/benefits/card-3.jpg" alt="７つのメリット">
          <div class="links__overlay"> 
            <div class="links__card-title"><img src="/html/template/default/assets/img/links/img-title-change.svg" alt=""></div>
            <div class="links__card-button"></div>
          </div></a>
      </div><a class="links__button" href="https://captainfoods.co.jp/shop/secure/form.aspx">
        <div class="links__button-icon"><img src="/html/template/default/assets/img/icons/icon-handpointing-right.svg" alt="HAND"></div>
        <p class="links__button-text">資料請求する</p></a>
    </section>


    {% endblock %}
