{% extends 'default_frame.twig' %}



{% block main %}

 <div class="wrapper">
        <div class="breadcrumbs">
          <div class="breadcrumbs__page-title">
            <div class="breadcrumbs__page-title-image"><img src="/html/user_data/assets/img/cf2022/img/icons/page-title-logo.png" alt=""></div>
            <div class="breadcrumbs__page-title-text">
              <div class="breadcrumbs__page-title-text-en">Site map</div>
              <div class="breadcrumbs__page-title-text-jp">サイトマップ</div>
            </div>
          </div>
          <div class="breadcrumbs__main"><a class="breadcrumbs__main-pagename breadcrumbs__main-pagename--inactive" href="https://captainfoods.co.jp/stg/shop/">TOP</a>
            <div class="breadcrumbs__main-carret"><img src="/cf2022/img\icons\icon-arrow-right-red.svg" alt=""></div><span class="breadcrumbs__main-pagename">サイトマップ</span>
          </div>
        </div>
      </div>
      <section class="sitemap">
        <div class="sitemap__container"><a class="sitemap__top" href="https://captainfoods.co.jp/shop/">トップページ</a>
          <div class="sitemap__details sitemap__details--top">
            <h2 class="sitemap__title">取扱い商品</h2>
            <div class="sitemap__info"><a class="sitemap__text sitemap__text--black" href="https://captainfoods.co.jp/shop/e/eichiran/">全商品を見る</a><a class="sitemap__text" href="https://captainfoods.co.jp/shop/r/">特別カテゴリ</a>
              <ul class="sitemap__list sitemap__list--col-1">
                <li class="sitemap__item"><img src="/html/user_data/assets/img/cf2022/img/icons/icon-arrow-right-red.svg" alt=""><a href="https://captainfoods.co.jp/shop/r/r11month/">期間限定お買い得品</a></li>
                <li class="sitemap__item"><img src="/html/user_data/assets/img/cf2022/img/icons/icon-arrow-right-red.svg" alt=""><a href="https://captainfoods.co.jp/shop/r/routlet/">アウトレット</a></li>
                <!--li.sitemap__item
                img(src="img/icons/icon-arrow-right-red.svg", alt="")
                a(href="https://captainfoods.co.jp/shop/r/rtokusyuu/") 今期の特集
                -->
              </ul>
            </div>
            <div class="sitemap__info sitemap__info--wide"><a class="sitemap__text" href="https://captainfoods.co.jp/shop/pages/category.aspx">食品カテゴリ</a>
              <ul class="sitemap__list sitemap__list--col">
                <li class="sitemap__item"><img src="/html/user_data/assets/img/cf2022/img/icons/icon-arrow-right-red.svg" alt=""><a href="https://captainfoods.co.jp/shop/c/c01/">魚介類</a></li>
                <li class="sitemap__item"><img src="/html/user_data/assets/img/cf2022/img/icons/icon-arrow-right-red.svg" alt=""><a href="https://captainfoods.co.jp/shop/c/c02/">肉類</a></li>
                <li class="sitemap__item"><img src="/html/user_data/assets/img/cf2022/img/icons/icon-arrow-right-red.svg" alt=""><a href="https://captainfoods.co.jp/shop/c/c03/">惣菜</a></li>
                <li class="sitemap__item"><img src="/html/user_data/assets/img/cf2022/img/icons/icon-arrow-right-red.svg" alt=""><a href="https://captainfoods.co.jp/shop/c/c04/">軽食</a></li>
                <li class="sitemap__item"><img src="/html/user_data/assets/img/cf2022/img/icons/icon-arrow-right-red.svg" alt=""><a href="https://captainfoods.co.jp/shop/c/c05/">揚物</a></li>
                <li class="sitemap__item"><img src="/html/user_data/assets/img/cf2022/img/icons/icon-arrow-right-red.svg" alt=""><a href="https://captainfoods.co.jp/shop/c/c06/">麺・丼物</a></li>
                <li class="sitemap__item"><img src="/html/user_data/assets/img/cf2022/img/icons/icon-arrow-right-red.svg" alt=""><a href="https://captainfoods.co.jp/shop/c/c07/">全24品目まとめ割</a></li>
                <li class="sitemap__item"><img src="/html/user_data/assets/img/cf2022/img/icons/icon-arrow-right-red.svg" alt=""><a href="https://captainfoods.co.jp/shop/c/c08/">和菓子・スイーツ</a></li>
                <li class="sitemap__item"><img src="/html/user_data/assets/img/cf2022/img/icons/icon-arrow-right-red.svg" alt=""><a href="https://captainfoods.co.jp/shop/c/c09/">果物</a></li>
                <li class="sitemap__item"><img src="/html/user_data/assets/img/cf2022/img/icons/icon-arrow-right-red.svg" alt=""><a href="https://captainfoods.co.jp/shop/c/c10/">野菜</a></li>
                <li class="sitemap__item"><img src="/html/user_data/assets/img/cf2022/img/icons/icon-arrow-right-red.svg" alt=""><a href="https://captainfoods.co.jp/shop/c/c12/">米・乾物・調味料ほか</a></li>
                <li class="sitemap__item"><img src="/html/user_data/assets/img/cf2022/img/icons/icon-arrow-right-red.svg" alt=""><a href="https://captainfoods.co.jp/shop/c/c13/">健康食品</a></li>
                <li class="sitemap__item"><img src="/html/user_data/assets/img/cf2022/img/icons/icon-arrow-right-red.svg" alt=""><a href="https://captainfoods.co.jp/shop/c/c1404/">ネット限定品</a></li>
              </ul>
            </div>
          </div>
          <div class="sitemap__details">
            <h2 class="sitemap__title">ご利用ガイド</h2>
            <div class="sitemap__info sitemap__info--wide">
              <ul class="sitemap__listl sitemap__list--col">
                <li class="sitemap__item"><img src="/html/user_data/assets/img/cf2022/img/icons/icon-arrow-right-red.svg" alt=""><a href="https://captainfoods.co.jp/shop/ssl2/jisha_use.aspx">自社便登録フォーム</a></li>
                <li class="sitemap__item"><img src="/html/user_data/assets/img/cf2022/img/icons/icon-arrow-right-red.svg" alt=""><a href="https://captainfoods.co.jp/shop/customer/agree.aspx">他社便フォーム</a></li>
                <li class="sitemap__item"><img src="/html/user_data/assets/img/cf2022/img/icons/icon-arrow-right-red.svg" alt=""><a href="https://captainfoods.co.jp/shop/ssl2/webentry.aspx">ネット会員登録</a></li>
                <li class="sitemap__item"><img src="/html/user_data/assets/img/cf2022/img/icons/icon-arrow-right-red.svg" alt=""><a href="/cf2022/guide.html">ご利用ガイド</a></li>
                <li class="sitemap__item"><img src="/html/user_data/assets/img/cf2022/img/icons/icon-arrow-right-red.svg" alt=""><a href="/faq">よくある質問</a></li>
                <li class="sitemap__item"><img src="/html/user_data/assets/img/cf2022/img/icons/icon-arrow-right-red.svg" alt=""><a href="https://captainfoods.co.jp/shop/secure/form.aspx">パンフレット申し込み</a></li>
              </ul>
            </div>
          </div>
          <div class="sitemap__details">
            <h2 class="sitemap__title">会員サービス</h2>
            <div class="sitemap__info">
              <ul class="sitemap__list">
                <li class="sitemap__item"><img src="/html/user_data/assets/img/cf2022/img/icons/icon-arrow-right-red.svg" alt=""><a href="https://captainfoods.co.jp/shop/customer/menu.aspx">ログイン </a></li>
                <li class="sitemap__item"><img src="/html/user_data/assets/img/cf2022/img/icons/icon-arrow-right-red.svg" alt=""><a href="https://captainfoods.co.jp/shop/customer/menu.aspx">マイページ</a></li>
                <li class="sitemap__item"><img src="/html/user_data/assets/img/cf2022/img/icons/icon-arrow-right-red.svg" alt=""><a href="https://captainfoods.co.jp/shop/cart/cart.aspx">カート</a></li>
              </ul>
            </div>
          </div>
          <div class="sitemap__details">
            <h2 class="sitemap__title">キャプテンフーヅについて</h2>
            <div class="sitemap__info sitemap__info--wide">
              <ul class="sitemap__list sitemap__list--col">
                <li class="sitemap__item"><img src="/html/user_data/assets/img/cf2022/img/icons/icon-arrow-right-red.svg" alt=""><a href="https://captainfoods.co.jp/lp/" target="_blank">キャプテンフーヅについて</a></li>
                <li class="sitemap__item"><img src="/html/user_data/assets/img/cf2022/img/icons/icon-arrow-right-red.svg" alt=""><a href="/cf2022/beginner.html">初めての方へ</a></li>
                <li class="sitemap__item"><img src="/html/user_data/assets/img/cf2022/img/icons/icon-arrow-right-red.svg" alt=""><a href="/cf2022/method.html">おいしく食べるための解凍・調理方法</a></li>
                <li class="sitemap__item"><img src="/html/user_data/assets/img/cf2022/img/icons/icon-arrow-right-red.svg" alt=""><a href="/cf2022/bacteriological.html">細菌検査の実施 </a></li>
                <li class="sitemap__item"><img src="/html/user_data/assets/img/cf2022/img/icons/icon-arrow-right-red.svg" alt=""><a href="https://captainfoods.co.jp/stg/cf2022/Voice-list.html">お客様の声</a></li>
                <li class="sitemap__item"><img src="/html/user_data/assets/img/cf2022/img/icons/icon-arrow-right-red.svg" alt=""><a href="/company">会社案内</a></li>
              </ul>
            </div>
          </div>
          <div class="sitemap__details">
            <h2 class="sitemap__title">その他</h2>
            <div class="sitemap__info sitemap__info--wide">
              <ul class="sitemap__list sitemap__list--col-1">
                <!--li.sitemap__item
                img(src="img/icons/icon-arrow-right-red.svg", alt="")
                span お知らせ 
                -->
                <li class="sitemap__item"><img src="/html/user_data/assets/img/cf2022/img/icons/icon-arrow-right-red.svg" alt=""><a href="/sitemap">サイトマップ</a></li>
                <li class="sitemap__item"><img src="/html/user_data/assets/img/cf2022/img/icons/icon-arrow-right-red.svg" alt=""><a href="/tokutei">特定商取引法表示に基づく表記</a></li>
              </ul>
              <ul class="sitemap__list sitemap__list--col-1">
                <li class="sitemap__item"><img src="/html/user_data/assets/img/cf2022/img/icons/icon-arrow-right-red.svg" alt=""><a href="/privacy-policy">プライバシーポリシー</a></li>
                <li class="sitemap__item"><img src="/html/user_data/assets/img/cf2022/img/icons/icon-arrow-right-red.svg" alt=""><a href="https://captainfoods.co.jp/shop/contact/contact.aspx">お問い合わせ</a></li>
              </ul>
            </div>
          </div>
          <div class="sitemap__details">
            <h2 class="sitemap__title">公式アカウント</h2>
            <div class="sitemap__info sitemap__info--short">
              <ul class="sitemap__list"><a class="sitemap__link" href="https://www.facebook.com/benishakeamashio" target="_blank"> 
                  <li class="sitemap__item"><img class="sitemap__social-icon" src="/html/user_data/assets/img/cf2022/img/sitemap/fb-icon.svg" alt=""><span>Facebook</span></li></a>
                <li class="sitemap__item"><a class="sitemap__link" href="https://www.instagram.com/captainfoods.co.jp/" target="_blank"> <img class="sitemap__social-icon" src="/html/user_data/assets/img/cf2022/img/sitemap/ig-icon.svg" alt=""><span>Instagram</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>

{% endblock %}