{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}    <header class="header"><a class="sidemenu__logo-link sp" href="">
        <div class="sidemenu__logo"><img src="/html/template/default/assets/img/common/logo.png" alt="Captain Foods" loading="lazy"></div></a>
      <div class="header__menu"><a class="header__registration" href="/beginner"> <img class="header__registration-icon" src="/html/template/default/assets/img/common/icon-registration.svg" alt="会員登録" loading="lazy"><span class="header__registration-text">{{'front.footer.word_1'|trans}}</span></a><a class="header__login" href="/mypage/login"> <img class="header__login-icon" src="/html/template/default/assets/img/common/icon-login.svg" alt="ログイン" loading="lazy"><span class="header__login-text">{{'front.footer.word_2'|trans}}</span></a><a class="header__cart" href="">
          <div class="header__cart-count"><img class="header__cart-icon" src="/html/template/default/assets/img/common/icon-cart.svg" alt="カート" loading="lazy"><span class="header__cart-num">0</span></div><span class="header__cart-text">{{'front.footer.word_3'|trans}}</span></a>
        <div class="sidemenu__toggle sp" id="menu-toggle-sp">
          <div class="sidemenu__hamburger"> <span> </span><span></span><span></span></div><span class="sidemenu__menu-text">{{'front.footer.word_4'|trans}}</span>
        </div>
      </div>
      </header>
