{% extends 'default_frame.twig' %}

	{% block main %}

     <div class="wrapper">
        <div class="breadcrumbs">
          <div class="breadcrumbs__page-title">
            <div class="breadcrumbs__page-title-image"><img src="/html/template/default/assets/img/icons/page-title-logo.png" alt=""></div>
            <div class="breadcrumbs__page-title-text">
              <div class="breadcrumbs__page-title-text-en">Why Choose Us</div>
              <div class="breadcrumbs__page-title-text-jp">選ばれる理由	</div>
            </div>
          </div>
          <div class="breadcrumbs__main"><a class="breadcrumbs__main-pagename breadcrumbs__main-pagename--inactive" href="https://captainfoods.co.jp/stg/shop/">TOP</a>
            <div class="breadcrumbs__main-carret"><img src="/html/template/default/assets/img/icons/icon-arrow-right-red.svg" alt=""></div><a class="breadcrumbs__main-pagename breadcrumbs__main-pagename--inactive" href="#">TOP</a>
            <div class="breadcrumbs__main-carret"><img src="/html/template/default/assets/img/icons/icon-arrow-right-red.svg" alt=""></div><span class="breadcrumbs__main-pagename">選ばれる理由</span>
          </div>
        </div>
        <section class="choose">
          <h1 class="choose__title">キャプテンフーヅを使った生活はいつもの食卓を<br>便利でちょっと贅沢に変えてくれます。</h1>
        </section>
      </div>
      <section class="choose__content">
        <div class="choose__container">
          <ul class="choose__label">冷凍庫にお気に入りの食材が常に入っている 
            <li class="choose__item">冷凍庫をのぞけば、何でもそろっている便利さを実感しています。</li>
            <li class="choose__item">すぐ使え、美味しいので冷凍室に欠かせません。</li>
            <li class="choose__item">冷凍室に「紅鮭甘塩・リングカット・生むきえび・とろろ」は常備品です。</li><span class="choose__icon"><img class="choose__icon-img" src="/html/template/default/assets/img/choose/icon-fridge.svg" alt="Fridge"></span>
          </ul>
          <ul class="choose__label choose__label--left">他社の食材で代用すると、家族に気付かれる
            <li class="choose__item">買ってくると家族に直ぐ「いつもと違うね」と言われます。</li>
            <li class="choose__item">海老の臭みが嫌いな娘もキャプテンフーヅのえびは大好物。</li><span class="choose__icon choose__icon--right"><img class="choose__icon-img" src="/html/template/default/assets/img/choose/icon-lobster.svg" alt="Lobster"></span>
          </ul>
          <ul class="choose__label">魚介の鮮度の良さにビックリした
            <li class="choose__item">ぷりぷりの食感と美味しさにビックリ！(生むきえび)</li>
            <li class="choose__item">第一印象は「こんなに美味しい冷凍食品を食べたことがない」</li>
            <li class="choose__item">今ではよっぽと困らないと、他社で魚介類は買わなくなった。</li><span class="choose__icon"><img class="choose__icon-img" src="/html/template/default/assets/img/choose/icon-fish.svg" alt="Fish"></span>
          </ul>
          <ul class="choose__label choose__label--left">小分けになっている事で無駄なく便利に使える 
            <li class="choose__item">小分けパックや一切れずつの包装など使う側に立った商品で便利。</li>
            <li class="choose__item">個食パックでバラ凍結、必要な量だけ取り出して調理できて便利。</li>
            <li class="choose__item">便利で、経済的で、無駄がない。</li><span class="choose__icon choose__icon--right"><img class="choose__icon-img" src="/html/template/default/assets/img/choose/icon-divide.svg" alt="Divider"></span>
          </ul>
          <ul class="choose__label">添加物にも気を使っていて安心 
            <li class="choose__item">魚介は無添加のものが多く食の安全が騒がれる今、安心して食べられる食材</li>
            <li class="choose__item">食の安全が問題とされる今、鮮度の良い素材で家庭の好みの味付けで食べるのが一番安心できる。</li><span class="choose__icon"><img class="choose__icon-img" src="/html/template/default/assets/img/choose/icon-heart.svg" alt="Heart"></span>
          </ul><a class="choose__view" href="/voice-list">他のお客様の声を見る <img class="choose__btn choose__btn--black" src="/html/template/default/assets/img/choose/icon-gt.svg" alt=""></a>
        </div>
      </section>

      <section class="links">
      <div class="links__row"><a class="links__card" href="/commitment"> <img src="/html/template/default/assets/img/benefits/card-1.jpg" alt="商品づくりへのこだわり">
          <div class="links__overlay"> 
            <div class="links__card-title links__card-title--commitment"><img src="/html/template/default/assets/img/links/img-title-commitment.svg" alt=""></div>
            <div class="links__card-button"></div>
          </div></a><a class="links__card" href="/benefits"> <img src="/html/template/default/assets/img/choose/menu-2.jpg" alt="７つのメリット">
          <div class="links__overlay"> 
            <div class="links__card-title"><img src="/html/template/default/assets/img/links/img-title-benefits.svg" alt=""></div>
            <div class="links__card-button"></div>
          </div></a><a class="links__card" href="/change"> <img src="/html/template/default/assets/img/benefits/card-3.jpg" alt="７つのメリット">
          <div class="links__overlay"> 
            <div class="links__card-title"><img src="/html/template/default/assets/img/links/img-title-change.svg" alt=""></div>
            <div class="links__card-button"> </div>
          </div></a>
      </div><a class="links__button" href="https://captainfoods.co.jp/shop/secure/form.aspx">
        <div class="links__button-icon"><img src="/html/template/default/assets/img/icons/icon-handpointing-right.svg" alt="HAND"></div>
        <p class="links__button-text">資料請求する</p></a>
    </section>



    {% endblock %}