{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
	<div class="ec-role">
		<div class="ec-pageHeader">
			<h1>
				{{ 'front.tradelaw.title'|trans }}</h1>
		</div>
		<div class="ec-off1Grid">
			<div class="ec-off1Grid__cell">
				<div class="ec-borderedDefs mb-100">
					<dl>
						<dt>
							<label class="ec-label">事業者</label>
						</dt>
						<dd>キャプテンフーヅ株式会社</dd>
					</dl>
					<dl>
						<dt>
							<label class="ec-label">代表責任者</label>
						</dt>
						<dd>町田泰臣</dd>
					</dl>
					<dl>
						<dt>
							<label class="ec-label">企画担当者</label>
						</dt>
						<dd>河野香</dd>
					</dl>
					<dl>
						<dt>
							<label class="ec-label">資本金</label>
						</dt>
						<dd>3000万円</dd>
					</dl>

					<dl>
						<dt>
							<label class="ec-label">事業内容</label>
						</dt>
						<dd>魚介類を中心とした冷凍食品等の、無店舗宅配事業<br>個人、共同、インターネット販売</dd>
					</dl>
					<dl>
						<dt>
							<label class="ec-label">メールアドレス</label>
						</dt>
						<dd>
							<a href="mailto:info@captainfoods.co.jp">info@captionfoods.co.jp</a>
						</dd>
					</dl>
					<dl>
						<dt>
							<label class="ec-label">主な取引先</label>
						</dt>
						<dd>（株）マルハニチロ、東海澱粉、野口食品</dd>
					</dl>
					<dl>
						<dt>
							<label class="ec-label">取引銀行</label>
						</dt>
						<dd>横浜銀行、横浜信用金庫、きらぼし銀行、りそな銀行</dd>
					</dl>
					<dl>
						<dt>
							<label class="ec-label">本社</label>
						</dt>
						<dd>〒230-0034　神奈川県横浜市鶴見区寛政町21-7<br>電話番号：045-505-2795</dd>
					</dl>
					<dl>
						<dt>
							<label class="ec-label">営業事務所<br>有限会社キャプテン・レディ</label>
						</dt>
						<dd>
							キャプテンフーヅ株式会社の協力会社であるキャプテン・レディは営業事務所として厳鮮食材宅配サービスの営業・企画・受注・配送部門を運営しています。<br>
							〒234-0054 神奈川県横浜市港南区港南台7-25-35<br>
							電話番号：045-831-6235<br>
							FAX番号：045-831-6235<br>
						</dd>
					</dl>
					<dl>
						<dt>
							<label class="ec-label">サイト名</label>
						</dt>
						<dd>食材配達サービス　キャプテンフーヅ</dd>
					</dl>
				</div>

				<div class="common-content">
					<h2 class="common-title mb-25">お支払いについて</h2>
					<div class="common-info mb-25">
						<p class="red-text">自社便宅配システムの場合</p>
						<p>代金引換<br>郵便局からの自動引落（商品お渡し後、5営業日後の引き落とし）</p>
					</div>
					<div class="common-info">
						<p class="red-text">宅急便（他社便）届けの場合</p>
						<p>銀行振込（前払い）<br>代金引換</p>
					</div>
				</div>

				<div class="common-content">
					<h2 class="common-title mb-25">後払い決済利用時の延滞利息等について</h2>
					<div class="common-info">
						<p>請求代金に関して、その支払期日までに支払を行わない場合には支払期日の翌日から起算して支払いの日まで、年14.5％の割合で計算される金額を延滞利息として、当該債務と合わせて支払うものとします。</p>
					</div>
				</div>

				<div class="common-content">
					<h2 class="common-title mb-25">消費税について</h2>
					<div class="common-info">
						<p>商品消費税額8％は総額表示となり、商品価格に加算されております</p>
					</div>
				</div>

				<div class="common-content">
					<h2 class="common-title mb-25">返品・交換について</h2>
					<div class="common-info mb-25">
						<p class="red-text">自社便宅配システムの場合</p>
						<p>不良品等やお届商品が申込商品と異なった場合は、お取替えさせていただきます。</p>
						<ul>
							<li>・お届けの際に商品をご確認ください。万が一不良品がありましたら、お届け後8日以内にお申し出ください。<br>
								納品より8日以上経過した場合は交換はお受け付けできませんのでご了承ください。</li>
							<li>・返品・交換は翌日（場合によっては次回配達予定日）にお伺いします。対象となる商品を返品してください。</li>
							<li>・返金は商品交換時に行います。自動引落のお客様で引き落とし前の場合は金額守成した上で引き落としを行います。<br>
								すでに引き落としが行われている場合は、次回配達で金額修正いたします。</li>
							<li>・商品のお届け、並びに回収日における盗品は、全て弊社が負担いたします。</li>
							<li>・商品の取り込み忘れによる全回答は、返品、キャンセルの対象外となります。</li>
							<li>・ご注文の当日キャンセルはお受けできません。キャンセルのご連絡はお届け日前日の16:00までにお申し出ください。</li>
						</ul>
					</div>
					<div class="common-info">
						<p class="red-text">宅急便（他社便）届けの場合</p>
						<p>不良品やお届商品が申込商品と異なった場合は、お取替えさせていただきます。<br>
							（その際の返品商品は着払いにて発送をお願いします）<br>
							お客様のご希望による返品等の送料及び返金の手数料はお客様負担とさせていただいておりますのでご了承ください。<br>
							納品より8日以上経過した場合は交換はお受けできませんのでご了承ください。
						</p>
					</div>
				</div>

				<div class="common-content">
					<h2 class="common-title mb-25">ポイントについて</h2>
					<div class="common-info">
						<p class="mb-25">
							<span class="red-text">ポイントの付き方は商品ごとに異なります</span>付与の詳細は書きをご確認ください。
						</p>
						<div class="d-flex">
							<div class="mr-25 w-50">
								<p class="tradelaw-pt-title mb-15">ポイントの付き方</p>
								<ul>
									<li class="d-flex mb-15">
										<div class="tradelaw-pt-img">
											<img src="{{asset('assets/img/tradelaw/pt-1.svg')}}" alt="">
										</div>
										<p>購入代金（税込）に対して<br><span class="red-text">1％のポイント</span>が付きます。</p>
									</li>
									<li class="d-flex mb-15">
										<div class="tradelaw-pt-img">
											<img src="{{asset('assets/img/tradelaw/pt-3.svg')}}" alt="">
										</div>
										<p>対象期間内の購入商品代金（税込）に対して<br><span class="red-text">3％のポイント</span>が付きます。</p>
									</li>
									<li class="d-flex mb-15">
										<div class="tradelaw-pt-img">
											<img src="{{asset('assets/img/tradelaw/pt-5.svg')}}" alt="">
										</div>
										<p>対象期間内の購入商品代金（税込）に対して<br><span class="red-text">5％のポイント</span>が付きます。</p>
									</li>
								</ul>
								<p>インターネットでのポイント付与の確認は、商品詳細ページのポイント欄にてご確認頂けます。</p>
							</div>
							<div class="w-50">
								<div>
									<p class="tradelaw-pt-title mb-15">ポイントを確認する</p>
									<ul>
										<li class="mb-15">
											ポイント値引き＝<span class="red-text">使用したポイント数</span>
										</li>
										<li class="mb-15">
											合計＝<span class="red-text">今回の獲得ポイント数</span>
										</li>
										<li class="mb-15">
											累計＝<span class="red-text">累計ポイント数</span>
										</li>
									</ul>
								</div>
								<div>
									<p class="tradelaw-pt-title mb-15">ポイントを使う</p>
									<p>ポイントに有効期限はございません。1ポイント1円としてキャプテンフーヅのご注文時にお使い頂けます。送料には利用できません。<sapn class="red-text">※サービス期間中の「割引商品」にはポイントはつきません。</span>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="common-content">
					<h2 class="common-title mb-25">納期について</h2>
					<div class="common-info mb-25">
						<p class="red-text">宅配システム（当社配達エリア内）の場合</p>
						<p>注文締切日より4～6日後のお届けになります。</p>
					</div>
					<div class="common-info">
						<p class="red-text">宅急便届け（当社配達エリア外）の場合</p>
						<p>
							ご注文より2～3営業日後のお届けになります。※一部地域を除く<br>銀行振り込み（前払い）の場合は入金確認後、2～3営業日後のお届けになります。※一部地域を除く
						</p>
					</div>
				</div>

				<div class="common-content">
					<h2 class="common-title mb-25">個人情報の取扱に関する方針</h2>
					<div class="common-info">
						<p>
							弊社は、原則として会員情報を会員の事前の同意なく第三者に対して開示することはありません。<br>
							ショッピングカート・個人情報入力項目はベリサイン社のSSLにて暗号化されています。<br>
							またお客様のクレジットカード番号は弊社では保管いたしませんので、漏洩の心配もございません。
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
