{% extends 'default_frame.twig' %}

{% block main %}
	<div class="wrapper">
		<div class="breadcrumbs">
			<div class="breadcrumbs__page-title">
				<div class="breadcrumbs__page-title-image"><img src="/html/template/default/assets/img/icons/page-title-logo.png" alt=""></div>
				<div class="breadcrumbs__page-title-text">
					<div class="breadcrumbs__page-title-text-en">{{ 'front.bacteriological_test.subtitle'|trans }}</div>
					<div class="breadcrumbs__page-title-text-jp">{{ 'front.bacteriological_test.title'|trans }}</div>
				</div>
			</div>
			<div class="breadcrumbs__main">
				<a class="breadcrumbs__main-pagename breadcrumbs__main-pagename--inactive" href="/">{{ 'front.product.position_top'|trans }}</a>
				<div class="breadcrumbs__main-carret"><img src="/html/template/default/assets/img/icons/icon-arrow-right-red.svg" alt=""></div>
				<span class="breadcrumbs__main-pagename">{{ 'front.bacteriological_test.title'|trans }}</span>
			</div>
		</div>
        <section class="bacteriological">
            <div class="bacteriological__content">
                <div class="bacteriological__wrap">
                    <h2 class="bacteriological__title">細菌検査の実施</h2>
                    <div class="bacteriological__text">
                        <p>キャプテンフーヅでは、皆様に安心・安全な製品をお届けできるよう、本社で加工している刺身類について細菌検査を行っています。結果に異常が見られた場合は、該当の原料は使用禁止にし、横浜衛生局及び民間の衛生研究所にて精密検査を受けます。</p>
                    </div>
                </div>
                <div class="bacteriological__wrap">
                    <h2 class="bacteriological__title">細菌検査について</h2>
                    <div class="bacteriological__inspection-content">
                        <h4 class="bacteriological__subtitle">検査の必要性</h4>
                        <div class="bacteriological__text bacteriological__text--inspection">
                            <p>食品衛生法により微生物の基準が定められている食品は、これを遵守する必要があります。また自治体などで指導基準が定められている場合は、営業者はこれを遵守するように努力せねばなりません。また加工食品の賞味期限や消費期限の設定、HACCPシステムや衛生管理が適切に実施され安全な食品が提供されているか検証するため、定期的な細菌検査は重要な位置づけになります。</p>
                        </div>
                    </div>
                </div>
                <div class="bacteriological__wrap">
                    <h2 class="bacteriological__title">検査方法</h2>
                    <div class="bacteriological__inspection-content">
                        <h4 class="bacteriological__subtitle">検査対象</h4>
                        <div class="bacteriological__text bacteriological__text--inspection">
                            <p>鮮魚で仕入れた原料で刺身に加工される物</p>
                        </div>
                    </div>
                    <div class="bacteriological__inspection-content">
                        <div class="bacteriological__flex">
                            <h4 class="bacteriological__subtitle">検査対象</h4>
                            <div class="bacteriological__inspection-flex">
                                <div class="bacteriological__text bacteriological__text--inspection">
                                    <p>・ 微生物検出用培地シート、サニ太くん</p>
                                    <div class="padding-left">黄色ブドウ球菌用 、大腸菌群用 、酵素基質サルモネラ 、一般生菌用</div>・ ストマフィルター
                                    <br> ・スポイト
                                    <br> ・ 滅菌水
                                </div>
                                <div class="bacteriological__image"><img src="/html/user_data/assets/img/cf2022/img\bacteriological\bacteriological-image1.jpeg" alt=""></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bacteriological__wrap">
                    <h2 class="bacteriological__title">検査手順</h2>
                    <div class="bacteriological__procedure">
                        <div class="bacteriological__list">
                            <div class="bacteriological__item">
                                <div class="bacteriological__item-content"><span class="bacteriological__item-count">STEP </span></div>
                                <div class="bacteriological__item-images">
                                    <h2 class="bacteriological__item-title">検体10gに対し滅菌水90gを入れる</h2>
                                    <div class="bacteriological__item-image-wrap">
                                        <div class="bacteriological__item-image"><img src="/html/user_data/assets/img/cf2022/img\bacteriological\bacteriological-image2.jpeg" alt=""></div>
                                        <div class="bacteriological__item-image"><img src="/html/user_data/assets/img/cf2022/img\bacteriological\bacteriological-image3.jpeg" alt=""></div>
                                        <div class="bacteriological__item-image"><img src="/html/user_data/assets/img/cf2022/img\bacteriological\bacteriological-image4.jpeg" alt=""></div>
                                    </div>
                                </div>
                            </div>
                            <div class="bacteriological__item">
                                <div class="bacteriological__item-content"><span class="bacteriological__item-count">STEP </span></div>
                                <div class="bacteriological__item-images">
                                    <h2 class="bacteriological__item-title">細かく砕いてしばらく置く</h2>
                                    <div class="bacteriological__item-image-wrap">
                                        <div class="bacteriological__item-image"><img src="/html/user_data/assets/img/cf2022/img\bacteriological\bacteriological-image5.jpeg" alt=""></div>
                                    </div>
                                </div>
                            </div>
                            <div class="bacteriological__item">
                                <div class="bacteriological__item-content"><span class="bacteriological__item-count">STEP </span></div>
                                <div class="bacteriological__item-images">
                                    <h2 class="bacteriological__item-title">シートを広げ、検査溶液をスポイトで１ml吸収し、シートの上に垂らす</h2>
                                    <div class="bacteriological__item-image-wrap">
                                        <div class="bacteriological__item-image"><img src="/html/user_data/assets/img/cf2022/img\bacteriological\bacteriological-image6.jpeg" alt=""></div>
                                        <div class="bacteriological__item-image"><img src="/html/user_data/assets/img/cf2022/img\bacteriological\bacteriological-image7.jpeg" alt=""></div>
                                    </div>
                                </div>
                            </div>
                            <div class="bacteriological__item">
                                <div class="bacteriological__item-content"><span class="bacteriological__item-count">STEP </span></div>
                                <div class="bacteriological__item-images">
                                    <h2 class="bacteriological__item-title">空気が入らないよう密閉</h2>
                                    <div class="bacteriological__item-image-wrap">
                                        <div class="bacteriological__item-image"><img src="/html/user_data/assets/img/cf2022/img\bacteriological\bacteriological-image8.jpeg" alt=""></div>
                                    </div>
                                </div>
                            </div>
                            <div class="bacteriological__item">
                                <div class="bacteriological__item-content"><span class="bacteriological__item-count">STEP </span></div>
                                <div class="bacteriological__item-images">
                                    <h2 class="bacteriological__item-title">インキュベーター（検体用保温機）で35℃で24時間保管</h2>
                                    <div class="bacteriological__item-image-wrap">
                                        <div class="bacteriological__item-image"><img src="/html/user_data/assets/img/cf2022/img\bacteriological\bacteriological-image9.jpeg" alt=""></div>
                                        <div class="bacteriological__item-image"><img src="/html/user_data/assets/img/cf2022/img\bacteriological\bacteriological-image10.jpeg" alt=""></div>
                                    </div>
                                </div>
                            </div>
                            <div class="bacteriological__item">
                                <div class="bacteriological__item-content bacteriological__item-content--no-border"><span class="bacteriological__item-count">STEP </span></div>
                                <div class="bacteriological__item-images">
                                    <h2 class="bacteriological__item-title">異常が見当たらなければ正常と判断し、製造に入ります。</h2>
                                </div>
                            </div>
                        </div>
                    </div><a class="button__secondary" href="/cooking-method">
                        <div class="button__secondary-link">おいしく食べるための解凍・調理方法</div></a>
                </div>
            </div>
        </section>
	</div>
{% endblock %}
