{% extends 'default_frame.twig' %}



{% block main %}
 <div class="wrapper">
        <div class="breadcrumbs">
          <div class="breadcrumbs__page-title">
            <div class="breadcrumbs__page-title-image"><img src="/html/user_data/assets/img/cf2022/img/icons/page-title-logo.png" alt=""></div>
            <div class="breadcrumbs__page-title-text">
              <div class="breadcrumbs__page-title-text-en">Privacy policy</div>
              <div class="breadcrumbs__page-title-text-jp">プライバシーポリシー</div>
            </div>
          </div>
          <div class="breadcrumbs__main"><a class="breadcrumbs__main-pagename breadcrumbs__main-pagename--inactive" href="https://captainfoods.co.jp/stg/shop/">TOP</a>
            <div class="breadcrumbs__main-carret"><img src="/html/user_data/assets/img/cf2022/img/icons/icon-arrow-right-red.svg" alt=""></div><span class="breadcrumbs__main-pagename">プライバシーポリシー</span>
          </div>
        </div>
      </div>
      <section class="policy">
        <section class="policy__content">
          <div class="policy__details">
            <div class="policy__info">
              <p>キャプテンフーヅ株式会社（以下、「当社」という。）は，ユーザーの個人情報について以下のとおりプライバシーポリシー（以下、「本ポリシー」という。）を定めます。本ポリシーは、当社がどのような個人情報を取得し、どのように利用・共有するか、ユーザーがどのようにご自身の個人情報を管理できるかをご説明するものです。</p>
            </div>
          </div>
          <ul>
            <li class="policy__details">
              <h2 class="policy__title">事業者情報</h2>
              <div class="policy__info">
                <p>
                  法人名：キャプテンフーヅ株式会社<br> 住所：〒230-0034　神奈川県横浜市鶴見区寛政町21-7
                  <br> 代表取締役：町田泰臣
                </p>
              </div>
            </li>
            <li class="policy__details">
              <h2 class="policy__title">個人情報の取得方法</h2>
              <div class="policy__info">
                <p>
                  当社は、ユーザーが利用登録をするとき、氏名・生年月日・住所・電話番号・メールアドレス・クレジットカード番号など個人を特定できる情報を取得させていただきます。<br> お問い合わせフォーム・コメントの送信時には、氏名・電話番号・メールアドレスを取得させていただきます。</p>
              </div>
            </li>
            <li class="policy__details">
              <h2 class="policy__title">個人情報の利用目的</h2>
              <div class="policy__info">
                <p>
                  ・取得した閲覧・購買履歴等の情報を分析し、宅配事業においてユーザーに適した新商品・サービスをお知らせするために利用します。　また、取得した閲覧・購買履歴等の情報は、結果をスコア化した上で当該スコアを第三者へ提供します。<br> ・ユーザーが利用しているサービスの新機能や更新情報、キャンペーン情報などをメール送付によりご案内するため
                  <br> ・ユーザーが利用しているサービスのメンテナンスなど、必要に応じたご連絡をするため
                  <br> ・ユーザーからのコメントやお問い合わせに回答するため
                  <br> ・利用規約に違反したユーザーの特定、その他不正不当な目的でサービスを利用したユーザーの特定をし、ご利用をお断りするため
                  <br> ・有料プランを利用しているユーザーに対して利用料金をご請求するため
                  <br><br> 個人情報の利用目的は、変更前後の関連性について合理性が認められる場合に限って変更するものとします。
                  <br> 個人情報の利用目的について変更を行った際は、変更後の目的について当社所定の方法によってユーザーに通知し、加えてWebサイト上にも公表するものとします。
                </p>
              </div>
            </li>
            <li class="policy__details">
              <h2 class="policy__title">個人データを安全に管理するための措置</h2>
              <div class="policy__info">
                <p>当社は、個人情報を正確かつ最新の内容に保つよう努め、不正なアクセス・改ざん・漏えい・滅失及び毀損から保護するため全従業員及び役員に対して教育研修を実施しています。また、個人情報保護規定を設け、現場での管理についても定期的な点検を行っています。</p>
              </div>
            </li>
            <li class="policy__details">
              <h2 class="policy__title">個人データの共同利用</h2>
              <div class="policy__info">
                <p>
                  当社は、以下のとおり共同利用を行います。<br>・個人データの管理に関する責任者
                  <div class="padding-left">キャプテンフーヅ株式会社</div>・共同して利用する者の利用目的
                  <div class="padding-left">上記「利用目的」の内容と同様。</div>・利用項目
                  <div class="padding-left">氏名、住所、電話番号、メールアドレス</div>・共同して利用する者の範囲
                  <div class="padding-left">当社企業グループを構成する企業</div>
                </p>
              </div>
            </li>
            <li class="policy__details">
              <h2 class="policy__title">個人データの第三者提供について</h2>
              <div class="policy__info">
                <p>
                  当社は以下の場合を除き、同意を得ないで第三者に個人情報を提供することは致しません。<br> ・法令に基づく場合
                  <br> ・人の生命、身体又は財産の保護のために必要がある場合であって、本人の同意を得ることが困難であるとき
                  <br> ・公衆衛生の向上又は児童の健全な育成の推進のために特に必要がある場合であって、本人の同意を得ることが困難であるとき
                  <br>・国の機関若しくは地方公共団体又はその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合で　
                  <div class="padding-left">あって、本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき</div> １次に掲げる事項をあらかじめ本人に通知または公表し、かつ当社が個人情報保護委員会に届出をしたとき
                  <br> ２第三者への提供を利用目的とすること
                  <br> ３第三者に提供される個人データの項目
                </p>
              </div>
            </li>
            <li class="policy__details">
              <h2 class="policy__title">匿名加工情報に関する取扱い</h2>
              <div class="policy__info">
                <p>
                  当社は、匿名加工情報（特定の個人を識別できないよう加工した個人情報であって、復元ができないようにしたもの）を作成する場合、以下の対応を行います。<br> ・法令で定める基準に従い適正な加工を施す
                  <br> ・法令で定める基準に従い安全管理措置を講じる
                  <br> ・匿名加工情報に含まれる個人に関する情報の項目を公表する
                  <br> ・作成元となった個人情報の本人を識別するため、他の情報と照合すること
                </p>
              </div>
            </li>
            <li class="policy__details">
              <h2 class="policy__title">匿名加工情報に関する取扱い</h2>
              <div class="policy__info">
                <p>
                  当社は、本人から個人情報の開示を求められたときには、遅滞なく本人に対しこれを開示します。個人情報の利用目的の通知や訂正、追加、削除、利用の停止、第三者への提供の停止を希望される方は、以下の手続きに従ってご請求ください。<br> <br> 以下の書類等をお問い合わせ窓口宛てにご郵送願います。
                  <br> ・保有個人データ開示等請求書
                  <br> ・本人確認書類の写し（運転免許証、個人番号カード、在留カード、特別永住者証明書、パスポートなどの顔写真付き証明書）
                  <br> ・手数料（事務手数料として1請求につき500円）
                  <br> <br> 送付先住所
                  <br> 〒230-0034
                  <br> 神奈川県横浜市鶴見区寛政町21-7
                  <br> キャプテンフーヅ株式会社　お問い合わせ窓口
                </p>
              </div>
            </li>
            <li class="policy__details">
              <h2 class="policy__title">個人情報取扱いに関する相談や苦情の連絡先</h2>
              <div class="policy__info">
                <p>当社の個人情報の取扱いに関するご質問やご不明点、苦情、その他のお問い合わせはお問い合わせフォームよりご連絡ください。</p>
              </div>
            </li>
            <li class="policy__details">
              <h2 class="policy__title">SSL（Secure Socket Layer）について</h2>
              <div class="policy__info"> 
                <p>当社のWebサイトはSSLに対応しており、WebブラウザとWebサーバーとの通信を暗号化しています。ユーザーが入力する氏名や住所、電話番号などの個人情報は自動的に暗号化されます。</p>
              </div>
            </li>
            <li class="policy__details">
              <h2 class="policy__title">cookieについて</h2>
              <div class="policy__info">
                <p>
                  cookieとは、WebサーバーからWebブラウザに送信されるデータのことです。Webサーバーがcookieを参照することでユーザーのパソコンを識別でき、効率的に当社Webサイトを利用することができます。当社Webサイトがcookieとして送るファイルは、個人を特定するような情報を含んでおりません。<br> お使いのWebブラウザの設定により、cookieを無効にすることも可能です。</p>
              </div>
            </li>
            <li class="policy__details">
              <h2 class="policy__title">プライバシーポリシーの制定日及び改定日</h2>
              <div class="policy__info">
                <p>
                  制定：2011年3月16日<br> 改定：2022月9月15日</p>
              </div>
            </li>
            <li class="policy__details">
              <h2 class="policy__title">免責事項</h2>
              <div class="policy__info">
                <p>
                  当社Webサイトに掲載されている情報の正確さには万全を期していますが、利用者が当社Webサイトの情報を用いて行う一切の行為に関して、当社は一切の責任を負わないものとします。<br> 当社は、利用者が当社Webサイトを利用したことにより生じた利用者の損害及び利用者が第三者に与えた損害に関して、一切の責任を負わないものとします。</p>
              </div>
            </li>
            <li class="policy__details">
              <h2 class="policy__title">著作権・肖像権</h2>
              <div class="policy__info">
                <p>当社Webサイト内の文章や画像、すべてのコンテンツは著作権・肖像権等により保護されており、無断での使用や転用は禁止されています。</p>
              </div>
            </li>
            <li class="policy__details">
              <h2 class="policy__title">リンク</h2>
              <div class="policy__info">
                <p>当社Webサイトへのリンクは、自由に設置していただいて構いません。ただし、Webサイトの内容等によってはリンク設置をお断りすることがあります。</p>
              </div>
            </li>
          </ul>
        </section>
      </section>



{% endblock %}