{% extends 'default_frame.twig' %}

	{% block main %}

      <div class="wrapper">
        <div class="breadcrumbs">
          <div class="breadcrumbs__page-title">
            <div class="breadcrumbs__page-title-image"><img src="/html/template/default/assets/img/icons/page-title-logo.png" alt=""></div>
            <div class="breadcrumbs__page-title-text">
              <div class="breadcrumbs__page-title-text-en">Seven Benefits</div>
              <div class="breadcrumbs__page-title-text-jp">7つのメリット</div>
            </div>
          </div>
          <div class="breadcrumbs__main"><a class="breadcrumbs__main-pagename breadcrumbs__main-pagename--inactive" href="https://captainfoods.co.jp/stg/shop/">TOP</a>
            <div class="breadcrumbs__main-carret"><img src="/cf2022/img\icons\icon-arrow-right-red.svg" alt=""></div><span class="breadcrumbs__main-pagename">7つのメリット</span>
          </div>
        </div>
      </div>
      <div class="benefits"> 
        <section class="benefits__intro-wrap"> 
          <h2 class="benefits__heading">キャプテンフーヅを利用して感じていただいたメリットを、<br>お客様の声からご紹介します。</h2>
          <p class="benefits__paragraph">冷凍食品の宅配は、「商品を目で見ることができない」「決められた日にしか届けてもらえない」・・・というデメリットがありますが、キャプテンフーヅでは大勢の会員様に長い年月ご利用いただいております。<br><br>「多くの会員様が、長年に渡りご利用になる」ことの難しさに、必死に挑戦しているうちに、“７つのメリット”が作りあげられました。<br><br>縁あってキャプテンフーヅのホームページに来ていただいた方に是非ともこの“７つのメリット”のひとつひとつを確かめて頂きたいと思います。</p>
        </section>
        <section class="benefits__list"> 
          <div class="benefits__item"> 
            <h3 class="benefits__item-heading">鮮度の良さ</h3>
            <div class="benefits__row"> 
              <div class="benefits__image"> <img src="/html/template/default/assets/img/benefits/benefit-1.jpg" alt="鮮度の良さ"></div>
              <p class="benefits__paragraph">「冷凍品はまずい！」というイメージは、従来の冷凍技術によるものです。キャプテンフーヅの魚は、最新鋭の冷凍技術を駆使しています。<br>急速凍結は、凍結する際に氷の結晶が魚の細胞を破壊する間もなく瞬時に－5℃を通過する為、魚の旨みを逃しません。また、船の上で活きたままの魚を急速凍結する船凍品を中心に原料を選別、鮮度は抜群です。</p>
            </div>
          </div>
          <div class="benefits__voice-list"> 
            <h3 class="benefits__voice-heading">お客様の声</h3>
            <div class="benefits__voice-block"> 
              <p class="benefits__paragraph benefits__paragraph--voice benefits__paragraph--voice-1">キャプテンフーヅのメカジキは臭みが少なく、色味がとても<br class="pc">鮮やか！<br>身の厚さも魅力の一つ。毎回購入しています。</p>
              <div class="benefits__voice-image"><img src="/html/template/default/assets/img/benefits/voice-1.jpg" alt=""></div>
            </div>
            <div class="benefits__voice-block benefits__voice-block--no-img"> 
              <p class="benefits__paragraph benefits__paragraph--voice benefits__paragraph--no-img">私の家は、共稼ぎの娘夫婦と、食べ盛りの孫２人の５人家族です。私がこの家の台所を任されています。足が悪いので、私の足で３０分近くもかかるスーパーまでの買い物は出来ません。<br>幸い家の近くまで週３回、スーパーよりも安くて美味しい、八百屋さんがトラックで来てくれてます。<br>パンや牛乳等は近くのコンビニを利用。あとはほとんどキャプテンフーヅの品物を利用しています。<br>そして週末には必ず、娘と車でスーパーに買い出しに出かけます。 以前は肉や魚もまとめ買いして、家の冷凍室にストックしたりしましたが、キャプテンフーヅの方が安くて美味しいのでやめました。<br>キャプテンフーヅの加工品は、孫たちに人気のある物がいくつもあって手を抜きたいとき、もう一品欲しいときに重宝しています。<br>新しいパンフレットが届くたびに、新商品を楽しみにしています。<br>益々魅力あるパンフレットにしてくださいますようお願い致します。</p>
            </div>
          </div>
          <div class="benefits__item"> 
            <h3 class="benefits__item-heading">店頭価格に負けない価格設定</h3>
            <div class="benefits__row"> 
              <div class="benefits__image"> <img src="/html/template/default/assets/img/benefits/benefit-2.jpg" alt="店頭価格に負けない価格設定"></div>
              <p class="benefits__paragraph">キャプテンフーヅと店頭販売での商品価格は、流通システムの違いから、同品質（産地や漁獲時期が同じ）商品の場合、店頭価格に負けない価格を設定してきました。<br>今も尚、同品質（産地や漁獲時期が同じ）商品の大手スーパーなどの店頭価格を徹底調査し、価格の設定をしています。</p>
            </div>
          </div>
          <div class="benefits__item"> 
            <h3 class="benefits__item-heading">品質に見合ったお値段</h3>
            <div class="benefits__row"> 
              <div class="benefits__image"> <img src="/html/template/default/assets/img/benefits/benefit-3.jpg" alt="品質に見合ったお値段"></div>
              <p class="benefits__paragraph">お魚に限らず、肉も、野菜も、捕れた産地、捕れた時期、捕れた後の加工処理方法によって、同じ種類でもお値段に大きな差があります。</p>
            </div>
          </div>
          <div class="benefits__voice-list"> 
            <h3 class="benefits__voice-heading">お客様の声</h3>
            <div class="benefits__voice-block benefits__voice-block--no-offset"> 
              <p class="benefits__paragraph benefits__paragraph--voice benefits__paragraph--no-offset">スーパーで、キャプテンフーヅの物より安い帆立貝柱を見つけました。目で見比べても違いが分かりません。しかし食べ比べてみてその違いにびっくり！</p>
              <div class="benefits__voice-image"><img src="/html/template/default/assets/img/benefits/voice-2.jpg" alt=""></div>
            </div>
          </div>
          <div class="benefits__item"> 
            <h3 class="benefits__item-heading">品揃えの良さ</h3>
            <div class="benefits__row"> 
              <div class="benefits__image"> <img src="/html/template/default/assets/img/benefits/benefit-4.jpg" alt="品揃えの良さ"></div>
              <p class="benefits__paragraph">キャプテンフーヅでは、主婦が中心となる企画担当者が、大手水産会社をはじめとする協力会社に依頼し積極的にアクセス。常に新しい商品を追い求めています。<br>日頃、直接会員様の声を聞いている、事務スタッフや会員様専任の注文担当者など約50名の意見を参考にし、商品決定を行っています。<br>“より美味い商品を、より手頃な価格で”と言った事だけではなく、小袋パックやバラ凍結など、実際にご利用頂く会員様の立場で商品を選別。スーパーでは扱っていない商品や業務用（飲食店向け）のクオリティーの高い商品をバラエティー豊富に品揃えています。</p>
            </div>
          </div>
          <div class="benefits__item"> 
            <h3 class="benefits__item-heading">結果的に経済的</h3>
            <div class="benefits__row"> 
              <div class="benefits__image"> <img src="/html/template/default/assets/img/benefits/benefit-5.jpg" alt="結果的に経済的"></div>
              <p class="benefits__paragraph">現代の主婦は、お仕事を持っていたり、趣味にスポーツにと時間を大変有意義に使っております。「毎日買い物に行くのが日課」なんてもったいない・・・と思いませんか？時間がもったいないだけではありません。ついつい不必要な物まで買ってしまって不経済です。<br>キャプテンフーヅを利用の場合、2週間に1度のお届けサイクルなので、ゆっくりカタログを見ながら必要な商品だけをまとめて買うようになります。<br>買い物にもたまにしか行かなくなり、結果的に無理なく節約につながり経済的です。</p>
            </div>
          </div>
          <div class="benefits__item"> 
            <h3 class="benefits__item-heading">便利なシステムで無理なく続けられる</h3>
            <div class="benefits__row"> 
              <div class="benefits__image"> <img src="/html/template/default/assets/img/benefits/benefit-6.jpg" alt="便利なシステムで無理なく続けられる"></div>
              <p class="benefits__paragraph">これからの時代は、マルチメディアにより、家庭で居ながらにして、テレビ画面で、商品選び・注文・代金の決済ができ、商品は宅配されます。<br>キャプテンフーヅのシステムはこれからの時代のニーズに答え、便利で煩わしさがありません。</p>
            </div>
            <ul class="benefits__item-list"> 
              <li class="benefits__subitem"> 
                <h4 class="benefits__subhead">2週間に１度の注文（自社便宅配）</h4>
                <p class="benefits__desc">次回の配達まで最大１４日間、２４時間いつでもネット注文が可能です。<br>忘れていても、担当者から注文の電話がきます。</p>
              </li>
              <li class="benefits__subitem"> 
                <h4 class="benefits__subhead">「商品が届くまで出かけられない」という心配はいりません。</h4>
                <p class="benefits__desc">不在時は保冷バックまたは保冷箱でお届けし、集金は後日に行います。郵便局自動引落しも可能です。</p>
              </li>
              <li class="benefits__subitem"> 
                <h4 class="benefits__subhead">欲しいときに最短3日で届く（他社便宅配）</h4>
                <p class="benefits__desc">宅急便を利用した他社便宅配は欲しいときにいつでも全国にお届けできます。<br>代引き、銀行振込、コンビニ払いなどの決済方法を選択できます。</p>
              </li>
            </ul>
          </div>
          <div class="benefits__item"> 
            <h3 class="benefits__item-heading">信頼</h3>
            <div class="benefits__row"> 
              <div class="benefits__image"> <img src="/html/template/default/assets/img/benefits/benefit-7.jpg" alt="信頼"></div>
              <p class="benefits__paragraph">会員様が、商品を目で見て選ぶことが出来ないために、一度期待外れの商品が届くと、二度とその商品を注文していただけません。<br>「キャプテンフーヅの商品は、何を食べてもおいしい」という会員様からの信頼を得るために、日々努力に努力を重ねております。<br>“信頼”はキャプテンフーヅの“命”です。</p>
            </div>
          </div>
        </section>
      </div>

      <section class="links">
      <div class="links__row"><a class="links__card" href="/commitment"> <img src="/html/template/default/assets/img/benefits/card-1.jpg" alt="商品づくりへのこだわり">
          <div class="links__overlay"> 
            <div class="links__card-title links__card-title--commitment"><img src="/html/template/default/assets/img/links/img-title-commitment.svg" alt=""></div>
            <div class="links__card-button"></div>
          </div></a><a class="links__card" href="/choose"> <img src="/html/template/default/assets/img/benefits/card-2.jpg" alt="選ばれる理由">
          <div class="links__overlay"> 
            <div class="links__card-title"><img src="/html/template/default/assets/img/links/img-title-choose.svg" alt=""></div>
            <div class="links__card-button"></div>
          </div></a><a class="links__card" href="/change"> <img src="/html/template/default/assets/img/benefits/card-3.jpg" alt="７つのメリット">
          <div class="links__overlay"> 
            <div class="links__card-title"><img src="/html/template/default/assets/img/links/img-title-change.svg" alt=""></div>
            <div class="links__card-button"> </div>
          </div></a>
      </div><a class="links__button" href="https://captainfoods.co.jp/shop/secure/form.aspx">
        <div class="links__button-icon"><img src="/html/template/default/assets/img/icons/icon-handpointing-right.svg" alt="HAND"></div>
        <p class="links__button-text">資料請求する</p></a>
    </section>

    {% endblock %}